rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // As regras mais específicas devem vir primeiro.

    // Coleção de Usuários (users)
    // Permite a um usuário ler, atualizar e deletar seus próprios dados.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      // Permite a criação de um documento de usuário. A lógica da server action `signUp`
      // já previne a criação de documentos duplicados ao primeiro criar o usuário
      // no Firebase Authentication.
      allow create: if true;
    }

    // Regra geral para as outras coleções.
    // Permite leitura e escrita em qualquer outro documento
    // apenas se o usuário estiver autenticado.
    // Vamos refinar isso conforme o app crescer.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
